@use "global" as *;

.footer {
  background-color: $beige;
  padding-top: rem(109);
  padding-bottom: rem(72);

  @include mq(md) {
    padding-top: rem(77);
  }

  @include mq(sm) {
    padding-bottom: rem(98);
  }
}

.footer__inner {

}

.footer__info {
  width: 100%;
  max-width: rem(280);
  margin-inline: auto;
}

.footer__info img {
  aspect-ratio: 280 / 69;
  height: auto;
  object-fit: contain;
}

