@use "global" as *;

.mv-lead {
  position: absolute;  // flex レイアウトの外
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); // 中央配置
  z-index: 3;
  pointer-events: none;

  @include mq(md) {
    left: auto;
    margin-inline: auto;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
  }
}

.mv-lead__text {
  width: 100%;
  max-width: rem(324);
  margin-inline: auto;
  opacity: 0;
  transform: translateY(20px);
  will-change: opacity, transform;

  @include mq(md) {
    max-width: rem(278);
  }
}

.mv-lead__text img {
  aspect-ratio: 324 / 201;
  height: auto;
  object-fit: contain;
}