@use "global" as *;

#souzanjiday .mv {
  background-color: $beige;
  padding-top: rem(54);
  padding-bottom: rem(80);
}

#souzanjiday .mv__inner {

}

#souzanjiday .mv__container {
  position: relative;
  padding-right: rem(15);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  @include mq(md) {
    padding-right: 0;
    flex-direction: column-reverse;
    row-gap: rem(30);
  }
}

#souzanjiday .mv__main {

}

#souzanjiday .mv__detail {

}

#souzanjiday  .mv-main__description,
#souzanjiday .mv-main__title {
  opacity: 1;
}