@use "global" as *;

#souzanjiday .souzanjiday-footer {
  background-color: $beige;
  padding-top: rem(77);
  padding-bottom: rem(72);

  @include mq(md) {
    padding-top: rem(69);
  }

  @include mq(sm) {
    padding-bottom: rem(98);
  }
}

#souzanjiday .souzanjiday-footer__inner {

}

#souzanjiday .souzanjiday-footer__info {
  width: 100%;
  max-width: rem(280);
  margin-inline: auto;
}

#souzanjiday .souzanjiday-footer__info img {
  aspect-ratio: 280 / 69;
  height: auto;
  object-fit: contain;
}

