@use "global" as *;

#souzanjiday .timeline {
  width: 100%;
  max-width: rem(859);
  margin-inline: auto;
}

#souzanjiday .timeline__start,
#souzanjiday .timeline__end {
  color: $white;
  font-size: rem(30);
  font-family: $base-font-family;
  font-weight: $bold;
  line-height: calc(36 / 30);
  letter-spacing: 0.099em;
  background-color: $bg-purple;
  padding: rem(16) rem(52) rem(18);
  border-radius: rem(36);

  @include mq("md") {
    font-size: rem(18);
    padding: rem(10) rem(32) rem(11) rem(34);
    border-radius: rem(21);
  }
}

#souzanjiday .timeline__start {
  position: relative;
}

#souzanjiday .timeline__end {
  margin-top: rem(37);

  @include mq("md") {
    margin-top: rem(24);
  }
}

#souzanjiday .timeline__start::after,
#souzanjiday .timeline__content::after {
  content: "";
  position: absolute;
  background-color: $bg-purple;
  width: 100%;
  max-width: rem(10);
  height: rem(40);
  bottom: rem(-40);
  left: rem(98);

  @include mq("md") {
    max-width: rem(6);
    height: rem(26);
    bottom: rem(-26);
    left: rem(64);
  }
}

#souzanjiday .timeline__content {
  position: relative;
  margin-top: rem(37);
  display: flex;

  @include mq("md") {
    margin-top: rem(20);
    flex-direction: column;
  }
}

#souzanjiday .timeline__head {
  background-color: $bg-purple;
  border-radius: rem(30) 0 0 rem(30);
  padding-top: rem(41);
  padding-bottom: rem(48);
  width: 100%;
  max-width: rem(196);
  display: flex;
  flex-direction: column;
  align-items: center;

  @include mq("md") {
    border-radius: 5vw 5vw 0 0;
    padding: rem(11) rem(26) rem(13) rem(27);
    max-width: 100%;
    flex-direction: row;
    align-items: start;
    column-gap: rem(12);
  }
}

#souzanjiday .timeline__time {
  padding-left: rem(12);
  color: $white;
  font-size: rem(30);
  font-family: $base-font-family;
  font-weight: $bold;
  line-height: calc(36 / 30);
  letter-spacing: 0.099em;

  @include mq("md") {
    font-size: rem(18);
    line-height: calc(21.6 / 18);
    padding-top: rem(30);
    padding-left: rem(4);
  }
}

#souzanjiday .timeline__speaker-info {
  margin-top: rem(27);

  @include mq("md") {
    margin-top: 0;
    display: flex;
    align-items: center;
    column-gap: rem(12);
    flex-wrap: wrap;
    row-gap: rem(12);
  }
}

#souzanjiday .timeline__speaker {
  @include mq("md") {
    display: flex;
    align-items: center;
    column-gap: rem(8);
  }
}

#souzanjiday .timeline__speaker:not(:first-child) {
  margin-top: rem(38);

  @include mq("md") {
    margin-top: 0;
  }
}

#souzanjiday .timeline__image {
  width: 100%;
  max-width: rem(168);
  aspect-ratio: 168 / 172;
  height: auto;
  object-fit: cover;

  @include mq("md") {
    max-width: rem(80);
    aspect-ratio: 80 / 82;
  }
}

#souzanjiday .timeline__name-wrapper {
  margin-top: rem(8);
  text-align: center;

  @include mq("md") {
    margin-top: 0;
  }
}

#souzanjiday .timeline__position {
  color: $white;
  font-size: rem(18);
  font-family: $base-font-family;
  font-weight: $bold;
  line-height: calc(21.6 / 18);
  letter-spacing: 0.099em;

  @include mq("md") {
    font-size: rem(10.8);
    line-height: calc(12.96 / 10.8);
    text-align: left;
  }
}

#souzanjiday .timeline__name {
  color: $white;
  font-size: rem(24);
  font-family: $base-font-family;
  font-weight: $bold;
  line-height: calc(28.8 / 24);
  letter-spacing: 0.099em;

  @include mq("md") {
    font-size: rem(14.4);
    line-height: calc(17.28 / 14.4);
  }
}

#souzanjiday .timeline__name span {
  font-size: rem(18);
  line-height: calc(21.6 / 18);

  @include mq("md") {
    font-size: rem(10.8);
    line-height: calc(12.96 / 10.8);
  }
}

#souzanjiday .timeline__body {
  background-color: $white;
  border-radius: 0 rem(30) rem(30) 0;
  width: 100%;
  padding: rem(47) rem(53) rem(38) rem(44);

  @include mq("md") {
    border-radius: 0 0 rem(30) rem(30);
    padding: rem(22) rem(13) rem(38) rem(34);
  }
}

#souzanjiday .timeline__title {
  width: 100%;
}

#souzanjiday .timeline__title img {
  height: auto;
  object-fit: contain;
}

#souzanjiday .timeline__title.timeline__title--01 {
  max-width: rem(133);

  @include mq("md") {
    max-width: rem(80);
  }
}

#souzanjiday .timeline__title.timeline__title--01 img {
  aspect-ratio: 133 / 28;
}

#souzanjiday .timeline__title.timeline__title--02 {
  max-width: rem(434);

  @include mq("md") {
    max-width: rem(260);
  }
}

#souzanjiday .timeline__title.timeline__title--02 img {
  aspect-ratio: 434 / 61;
}

#souzanjiday .timeline__title.timeline__title--03 {
  max-width: rem(341);

  @include mq("md") {
    max-width: rem(205);
  }
}

#souzanjiday .timeline__title.timeline__title--03 img {
  aspect-ratio: 341 / 74;
}

#souzanjiday .timeline__title.timeline__title--04 {
  max-width: rem(261);
}

#souzanjiday .timeline__title.timeline__title--04 img {
  aspect-ratio: 261 / 27;
}

#souzanjiday .timeline__description {
  margin-top: rem(41);
  color: $black;
  font-size: rem(16);
  font-family: $base-font-family;
  font-weight: $medium;
  line-height: calc(27.2 / 16);
  letter-spacing: 0.16em;

  @include mq("md") {
    margin-top: rem(24);
    font-size: rem(14);
    line-height: calc(25 / 14);
  }
}

#souzanjiday .timeline__list {
  margin-top: rem(35);
  padding-left: rem(22);

  @include mq("md") {
    margin-top: rem(35);
    padding-left: 0;
  }
}

#souzanjiday .timeline__item {
  position: relative;
  padding-left: rem(42);
  color: $black;
  font-size: rem(16);
  font-family: $base-font-family;
  font-weight: $bold;
  line-height: calc(19.2 / 16);
  letter-spacing: 0.16em;

  @include mq("md") {
    padding-left: rem(28);
    font-size: rem(12);
    line-height: calc(16.4 / 12);
  }
}

#souzanjiday .timeline__item::before {
  position: absolute;
  background-image: url(../images/check-icon.svg);
  background-size: contain;
  background-repeat: no-repeat;
  content: "";
  width: 100%;
  max-width: rem(22);
  height: rem(22);
  top: 5%;
  left: 0;

  @include mq("md") {
    max-width: rem(15);
    height: rem(15);
  }
}

#souzanjiday .timeline__item:not(:first-child) {
  margin-top: rem(21);

  @include mq("md") {
    margin-top: rem(10);
  }
}

#souzanjiday .timeline__text {
  display: grid;
  grid-template-columns: auto 1fr;
  color: $black;
  font-size: rem(16);
  font-family: $base-font-family;
  font-weight: $medium;
  line-height: calc(23.2 / 16);
  letter-spacing: 0.16em;

  @include mq("md") {
    font-size: rem(12.4);
    line-height: calc(17.98 / 12.4);
  }
}

#souzanjiday .timeline__text span {
  margin-right: rem(17);
  color: $purple;
  font-size: rem(20);
  font-family: $base-font-family;
  font-weight: $bold;
  line-height: calc(24 / 20);
  letter-spacing: 0.16em;

  @include mq("md") {
    margin-right: rem(16);
    font-size: rem(15.5);
    line-height: calc(18.6 / 15.5);
    letter-spacing: calc(1.6em / 15.5);
  }
}

#souzanjiday .timeline__text {
  margin-top: rem(48);

  @include mq("md") {
    margin-top: rem(45);
  }
}

#souzanjiday .timeline__border-line {
  margin-top: rem(50);
  margin-bottom: rem(42);

  @include mq("md") {
    margin-top: rem(24);
  }
}

#souzanjiday .timeline__border-line img {
  width: 100%;
  max-width: rem(572);
  aspect-ratio: 572 / 2;
  height: auto;
  object-fit: cover;
  object-position: center;
}